.texto-pequeno {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.texto-pequeno1 {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.texto-pequeno2 {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.texto-pequeno3 {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  color: #ffffff;
}

.texto-medio {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  color: #868585;
}

.texto-medio1 {
  font: 600 2rem/1.25 "Poppins", sans-serif;
  color: #000000;
}

.texto-medio2 {
  font: 600 2rem/1.25 "Poppins", sans-serif;
  color: #ea047e;
}

.texto-medio3 {
  font: 600 2rem/1.25 "Poppins", sans-serif;
  color: #642929;
}

.texto-medio4 {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  color: #ffffff;
}

.texto-medio5 {
  font: 600 2rem/1.25 "Poppins", sans-serif;
  color: #ffffff;
}

.texto-grande {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

.texto-grande1 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  color: #fff;
}

.texto-grande3 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  color: #000000;
}

.texto-grande2 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  color: #ea047e;
}

.ponto {
    color: #h2h2h2;
}